<a href="https://colab.research.google.com/github/khyatis25/Credit-Card-Fraud-Detection-Project/blob/main/Credit_card_fraud_detection_project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing the dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# loading the dataset to a pandas dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
# first 5 rows of dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [4]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
5969,6634,-1.611463,0.190648,0.901715,1.531254,-1.535865,0.799245,1.513786,0.495829,0.200390,...,0.211223,0.007477,1.026272,0.057628,-0.024955,-0.368263,0.081684,0.140669,458.92,0.0
5970,6635,-1.420272,1.449354,1.320110,-1.894320,0.913695,0.454601,0.894179,-0.385450,2.433841,...,-0.529027,-0.368394,-0.247773,-1.189156,-0.126040,0.701487,0.277333,-0.222694,0.77,0.0
5971,6637,-1.206696,0.284728,2.152053,-2.850437,-0.437285,-0.238376,-0.333341,0.334679,2.870542,...,0.039460,0.464476,-0.457193,-0.556105,0.517579,0.008006,0.366054,0.185008,14.00,0.0
5972,6644,1.067611,0.091006,-0.153917,0.704233,0.113894,-0.826866,0.567690,-0.464181,0.957295,...,-0.476723,-1.410090,-0.037550,-0.177773,0.321810,0.114930,-0.109640,0.023205,139.90,0.0
5973,6645,-0.535272,-0.132299,2.180041,1.018303,-1.498819,0.529570,0.420147,0.045445,1.543919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# dataset informatics
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5974 entries, 0 to 5973
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    5974 non-null   int64
 1   V1      5974 non-null   float64
 2   V2      5974 non-null   float64
 3   V3      5974 non-null   float64
 4   V4      5974 non-null   float64
 5   V5      5974 non-null   float64
 6   V6      5974 non-null   float64
 7   V7      5974 non-null   float64
 8   V8      5974 non-null   float64
 9   V9      5974 non-null   float64
 10  V10     5974 non-null   float64
 11  V11     5974 non-null   float64
 12  V12     5974 non-null   float64
 13  V13     5974 non-null   float64
 14  V14     5974 non-null   float64
 15  V15     5974 non-null   float64
 16  V16     5974 non-null   float64
 17  V17     5974 non-null   float64
 18  V18     5973 non-null   float64
 19  V19     5973 non-null   float64
 20  V20     5973 non-null   float64
 21  V21     5973 non-null   float64
 22  V22     5973 non-null   float64
 23  V23     5973 non-null   float64
 24  V24     5973 non-null   float64
 25  V25     5973 non-null   float64
 26  V26     5973 non-null   float64
 27  V27     5973 non-null   float64
 28  V28     5973 non-null   float64
 29  Amount  5973 non-null   float64
 30  Class   5973 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 1.4 MB

In [6]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
# distribution of legit transactions & fraudlent transactions
credit_card_data['Class'].value_counts()

0.0    5970
1.0       3
Name: Class, dtype: int64

this dataset is highly unbalanced

0 --> Normal transaction 
1 --> Fraudlent transaction

In [8]:
# seperating the data for analytics 
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [9]:
print(legit.shape)
print(fraud.shape)

(5970, 31)
(3, 31)

In [10]:
# statistical measures of data
legit.Amount.describe()

count    5970.000000
mean       64.965707
std       192.429839
min         0.000000
25%         4.450000
50%        15.620000
75%        56.485000
max      7712.430000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count      3.000000
mean     256.310000
std      264.880121
min        0.000000
25%      119.965000
50%      239.930000
75%      384.465000
max      529.000000
Name: Amount, dtype: float64

In [12]:
# compare the values for both transactions 
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,2677.40201,-0.264965,0.285625,0.844580,0.102656,0.000958,0.195420,0.018542,-0.039195,0.397472,...,0.055426,-0.043268,-0.161540,-0.036683,0.028985,0.089890,-0.040132,0.025238,0.006163,64.965707
1.0,1780.00000,-2.553039,0.184644,-0.293711,2.872264,0.005330,-0.855718,-0.549831,0.308239,-1.093098,...,0.599742,0.294921,-0.177321,0.361160,-0.020311,0.056068,-0.170050,0.015979,-0.086847,256.310000

Under- Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [13]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [14]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [15]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
2213,1738,-2.031059,-1.186782,3.116768,1.076248,-0.336111,1.288795,0.281264,0.007627,1.292959,...,-0.167303,0.362937,-0.426841,-0.341873,0.451959,1.070528,0.015943,-0.379361,288.28,0.0
4125,3745,1.170879,-1.064675,-1.048870,-1.519428,1.340614,3.317678,-1.012073,0.679391,0.346057,...,-0.205824,-0.961223,-0.023905,0.926143,0.313226,-0.521105,-0.042471,0.036212,161.26,0.0
5225,5025,1.132376,0.122317,0.179001,0.413278,0.806393,1.569714,-0.386295,0.369732,1.377915,...,-0.343052,-0.594625,0.171249,-1.871096,-0.010958,0.236597,0.013853,-0.010476,3.49,0.0
4290,3757,1.409352,-0.670614,-0.910456,-1.619699,1.462356,3.273256,-1.175876,0.711430,0.360596,...,-0.280620,-0.896072,0.084895,0.919809,0.358551,-0.507940,-0.019147,0.014719,37.82,0.0
4692,4116,-0.591015,0.870753,1.693656,0.082576,0.591239,-0.028875,0.923767,-0.516203,1.825142,...,-0.475479,-0.622418,-0.291223,-0.510490,-0.023181,0.173741,-0.310856,-0.276505,15.25,0.0

In [16]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3121,2698,-0.669716,1.800709,1.060000,2.834202,-0.385511,1.290577,-1.381070,-3.728159,-1.183137,...,3.856861,-1.212026,0.426526,0.149144,0.501111,0.243979,0.334533,0.254456,5.98,0.0
3833,3368,-1.554190,-0.167163,3.000544,0.553701,0.091033,0.154501,0.174006,0.216170,-0.311925,...,0.292242,0.641684,0.093965,0.096784,0.131686,0.930880,0.014766,-0.077571,124.11,0.0
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0
4920,4462,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1.0

In [17]:
new_dataset['Class'].value_counts()

0.0    492
1.0      3
Name: Class, dtype: int64

In [18]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,2653.930894,-0.242423,0.264985,0.858936,0.140706,0.073506,0.246996,-0.036364,-0.047786,0.319260,...,0.034335,-0.005877,-0.166230,-0.05109,0.012870,0.100095,-0.028618,0.014810,-0.017345,57.105467
1.0,1780.000000,-2.553039,0.184644,-0.293711,2.872264,0.005330,-0.855718,-0.549831,0.308239,-1.093098,...,0.599742,0.294921,-0.177321,0.36116,-0.020311,0.056068,-0.170050,0.015979,-0.086847,256.310000

splitting the data into features and target

In [19]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
120321   75783.0  0.287031 -0.583520 -1.136037 -2.880689  1.004834  3.152897
1467      1140.0 -0.461720  1.103487  1.659896  0.804520  0.183641 -0.612299
24505    33263.0 -0.706402  1.155101  1.018094  0.692902  0.130848 -0.279409
115775   74010.0 -1.974394  0.688329  1.878350  0.529442 -0.243130  0.559832
78492    57554.0 -0.677303  0.447586  1.608340 -2.618002  0.042901 -0.934091
...          ...       ...       ...       ...       ...       ...       ...
157868  110547.0 -1.532810  2.232752 -5.923100  3.386708 -0.153443 -1.419748
157871  110552.0 -2.450367  2.107729 -5.140663  1.411304 -1.690780 -0.736427
157918  110617.0 -1.101035 -1.674928 -0.573388  5.617556  0.765556  0.440607
163149  115691.0 -1.550273  1.088689 -2.393388  1.008733 -1.087562 -1.104602
163586  116067.0  0.949241  1.333519 -4.855402  1.835006 -1.053245 -2.562826

              V7        V8        V9  ...       V20       V21       V22  \
120321 -1.396056  1.239808 -2.380674  ... -0.302010 -0.124631 -0.288663
1467    0.964205 -0.448733 -0.426404  ...  0.063362  0.042122  0.278355
24505   0.512133  0.204919 -0.801842  ... -0.061086  0.173902  0.475350
115775 -0.065336  0.384616  0.943560  ... -0.463297 -0.289396 -0.681008
78492   0.685994  0.021534  0.919506  ... -0.284672  0.014413  0.037582
...          ...       ...       ...  ...       ...       ...       ...
157868 -3.878576  1.444656 -1.465542  ...  0.520840  0.632505 -0.070838
157871 -3.657946  1.944906 -0.788388  ... -0.130438  0.800538  0.364617
157918  1.934740 -1.019788 -0.193244  ... -0.038314 -0.412526 -0.208823
163149 -2.670503  0.147655 -0.978626  ...  0.327490  0.802316  1.037105
163586 -2.286986  0.260906 -0.895366  ...  0.424608  0.306598 -0.854627

             V23       V24       V25       V26       V27       V28  Amount
120321  0.185505  0.962023 -0.322358 -0.330734 -0.112055 -0.143902   20.00
1467   -0.130014  0.398938 -0.264411 -0.470755 -0.262926 -0.069644   13.99
24505  -0.227947  0.005291 -0.115056 -0.340036 -0.274698 -0.161094   14.06
115775 -0.312659 -0.000957  0.016099 -0.782716 -0.955488 -0.118403   13.99
78492  -0.071414  0.027191 -0.153762 -1.207334  0.155631  0.138344    9.85
...          ...       ...       ...       ...       ...       ...     ...
157868 -0.490291 -0.359983  0.050678  1.095671  0.471741 -0.106667    0.76
157871  0.233608 -0.282078 -0.320311  0.492920  0.359976 -0.115471   80.22
157918  0.344833  1.091435 -0.686513  0.075809  0.033865 -0.832855  635.10
163149  0.095815 -0.320191 -0.080731  0.091012  0.024928 -0.077820   17.06
163586  0.101177 -0.281497  0.024444 -0.107944  0.625289  0.315677   65.00

[850 rows x 30 columns]

In [20]:
print(Y)

2213    0.0
4125    0.0
5225    0.0
4290    0.0
4692    0.0
       ...
3121    0.0
3833    0.0
541     1.0
623     1.0
4920    1.0
Name: Class, Length: 495, dtype: float64

split the data into traininng data and testing data

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [22]:
print(X.shape, X_train.shape, X_test.shape)

(495, 30) (396, 30) (99, 30)

model training

logistic training

In [23]:
model = LogisticRegression()

model evaluation 

accuracy score

In [25]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [26]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  1.0

In [27]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [28]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.98989898989899